{% extends "index.html" %}

{% block contents %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <ul>
        <li>created_at: {{ object.created_at }}</li>
        <li>updated_at: {{ object.updated_at }}</li>
        <li>active: {{ object.active }}</li>
        <li>filename: {{ object.filename }}</li>
        <li>owner: {{ object.owner }}</li>
        <li>is_task: {{ object.is_task }}</li>
        <li>status: {{ object.status }}</li>
    </ul>
    <input type="submit" value="Confirm delete" />
</form>

{% endblock %}
