{% extends "index.html" %}

{% block contents %}

<h1>My Uploads</h1>

<table>
    <thead>
        <tr>
            <th>Uploaded File</th>
            <th>Type</th>
            <th>Upload time</th>
            <th>Start execution time</th>
            <th>Finish execution time</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr>
            <td><a href="{% url data_importer:download_file file.id %}">{{ file.uploaded_file }}</a></td>
            <td>{{ file.state }}</td>
            <td>{{ file.upload_timestamp }}</td>
            <td>{{ file.start_execution_timestamp }}</td>
            <td>{{ file.finish_execution_timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
